<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Pizzeria DSM</strong>
    <p>el suenio</p>

    <br>
    <h3>Numero de pedidos: {{totalPedidos}}</h3>
    <br>

    <ion-button routerLink="/mesa-1">Mesa 1</ion-button>
    <ion-button routerLink="/mesa-2">Mesa 2</ion-button>
    <ion-button routerLink="/mesa-3">Mesa 3</ion-button>
    <ion-button routerLink="/mesa-4">Mesa 4</ion-button>

    <ion-button routerLink="/mesas" expand="full">todos los pedidos</ion-button>
  </div>
</ion-content>
